<div>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>
  <h1 style="font-size: 70px; font-weight: 900; font-family: 'Prompt', sans-serif;">Title</h1>

</div>

<app-resume></app-resume>
<app-contact></app-contact>