<nav>
	<ul class="topnav">
		<li class="brand">Junaid Rahim</li>
		<li class="nav_menu"><a><i class="fas fa-bars"></i></a></li>
		<li class="nav_element"><a (click)="go_contact()">Contact</a></li>
		<li class="nav_element"><a (click)="go_blog()">My Blog</a></li>
		<li class="nav_element"><a (click)="go_projects()">Projects</a></li>
		<li class="nav_element"><a (click)="go_skills()">Skills</a></li>
		<li class="nav_element"><a (click)="go_aboutme()">About me</a></li>
	</ul>
</nav>

<div class="home_container">
    
</div> 