<div id="contact" class="contact_container">
    <h1>Contact Me</h1>
    <h3>Let's get in touch.</h3>

    <div class="icon_container" style="text-align: center;">
        <a title="github.com/junaidrahim" href="https://www.github.com/junaidrahim" target="_blank">
            <img class="icon" src="https://img.icons8.com/color/96/000000/github.png">
        </a>

        <a title="junaidrahim5a@gmail.com" href="mailto:junaidrahim5a@gmail.com" target="_blank">
            <img class="icon" src="https://img.icons8.com/color/96/000000/gmail.png">
        </a>

        <a title="instagram.com/junaidrahim31" href="https://www.instagram.com/junaidrahim31" target="_blank">
            <img class="icon" src="https://img.icons8.com/color/96/000000/instagram.png">
        </a>
        
        <!-- <a title="" href="" target="_blank">
            <img class="icon" src="https://img.icons8.com/color/96/000000/linkedin.png">
        </a> -->

        <a title="twitter.com/junaidrahim31" href="https://www.twitter.com/junaidrahim31" target="_blank">
            <img class="icon" style="margin-left: 5px;" src="https://img.icons8.com/color/96/000000/twitter.png">
        </a>
        <br>
    </div>

    <p class="copyright">&#xa9; Junaid H Rahim. All Rights Reserved</p><br>
</div>