<div class="contact_container">
  <h1>Contact Me</h1>
  <h3>Let's get in touch.</h3>
  <div class="icon_container" style="text-align: center;">
  	<a title="github.com/junaidrahim" href="https://www.github.com/junaidrahim" target="_blank"><img class="icon" src="../../assets/icons/github_icon.png"></a>

  	<a title="junaidrahim5a@gmail.com" href="mailto:junaidrahim5a@gmail.com" target="_blank"><img class="icon" src="../../assets/icons/gmail_icon.png"></a>

  	<a title="instagram.com/junaidrahim31" href="https://www.instagram.com/junaidrahim31" target="_blank"><img class="icon" src="../../assets/icons/instagram_icon.png"></a>

  	<a title="" href="" target="_blank"><img class="icon" style="margin-left: 5px;" src="../../assets/icons/linkedin_icon.png"></a>

  	<br>
  </div>



  <p class="copyright">&#xa9; Junaid H Rahim. All Rights Reserved</p><br>
</div>