<div id="skills" class="technologies_container">
	<div class="part_intro">
		<h1>Stuff that excites me</h1><br>
		<div class="interests_container">
			<div class="card" style="border-bottom: 0.3rem solid #004d40">
				<h2>Machine Learning Engineering</h2>
				<br>
				<i class="fas fa-database"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #e53935">
				<h2>Algorithms</h2>
				<br><br>
				<i class="fas fa-microchip"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #01579b">
				<h2>Web Development</h2>
				<br>
				<i style="margin-left: 0rem;" class="fab fa-html5"></i>
				<i style="margin-left: 0.7rem;" class="fab fa-css3-alt"></i>
				<i style="margin-left: 0.7rem;" class="fab fa-js"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #2e7d32">
				<h2>Linux <br> Kernel</h2>
				<br>
				<i style="font-size: 2.8rem;" class="fab fa-linux"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #ef6c00">
				<h2>Technical Writing</h2>
				<br>
				<i class="fas fa-pencil-ruler"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #304ffe">
				<h2>Open Source Software</h2>
				<br>
				<i style="font-size: 2.8rem;" class="fab fa-osi"></i>
			</div>
		</div>
	</div>

	<div class="part_graph">
		<h1>My Skills</h1>

		<div class="skill_container">
			<div class="card">
				<i class="fas fa-microchip"></i><br>
				<h2>Languages</h2>
				<ul>
					<li>Python</li>
					<li>C/C++</li>
					<li>Go</li>
					<li>Java</li>
				</ul>
			</div>

			<div class="card">
				<i class="fas fa-tablet-alt"></i>
				<h2>Web Dev</h2>
				<ul>
					<li>React</li>
					<li>HTML, CSS, Javascript</li>
					<li>Bootstrap, Materialize CSS</li>
					<li>Flask, Echo, NodeJS</li>
					<li>MongoDB, Firebase</li>
				</ul>
			</div>

			<div class="card">
				<i class="fas fa-toolbox"></i>
				<h2>Others</h2>
				<ul>
					<li>Linux</li>
					<li>Git</li>
					<li>Scrum</li>
					<li>Basic Android Development</li>
					<li>Unit Testing</li>
				</ul>
			</div>

		</div>
		
		<br>
		
		<h1>I am also familiar with</h1>
		<p style="font-family: 'Nunito Sans', sans-serif; font-weight: 400;">
			Tools by JetBrains, Digital Ocean, Heroku etc.
		</p>
		<br><br>
	</div>



</div>