<div class="technologies_container">
	<div class="part_intro">
		<h1>Stuff that excites me</h1>
		<div class="interests_container">
			<div class="card" style="border-bottom: 0.3rem solid #e53935">
				<h2>Software Architecture</h2>
				<br>
				<i class="fas fa-microchip"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #01579b">
				<h2>Web Development</h2>
				<br>
				<i style="margin-left: 0rem;" class="fab fa-html5"></i>
				<i style="margin-left: 0.7rem;" class="fab fa-css3-alt"></i>
				<i style="margin-left: 0.7rem;" class="fab fa-js"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #004d40">
				<h2>Android Development</h2>
				<br>
				<i style="font-size: 2.8rem;" class="fab fa-android"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #2e7d32">
				<h2>Linux <br> Kernel</h2>
				<br>
				<i style="font-size: 2.8rem;" class="fab fa-linux"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #ef6c00">
				<h2>Technical Writing</h2>
				<br>
				<i class="fas fa-pencil-ruler"></i>
			</div>

			<div class="card" style="border-bottom: 0.3rem solid #304ffe">
				<h2>Open Source Software</h2>
				<br>
				<i style="font-size: 2.8rem;" class="fab fa-osi"></i>
			</div>
		</div>
	</div>

	<div class="part_graph">
		<h1>My Skills</h1>

		<div class="skill_container">
			<h3>Python</h3>
			<h4 style="font-family:'Nunito Sans',sans-serif; font-weight: 400; float: right; margin:0rem; padding: 0rem;">
				Amazing
			</h4>
			<div class="meter">
				<span style="width: 90%"></span>
			</div>
		</div>
		
		<div class="skill_container">
			<h3>HTML5, CSS3</h3>
			<h4 style="font-family:'Nunito Sans',sans-serif; font-weight: 400; float: right; margin:0rem; padding: 0rem;">
				Amazing.
			</h4>
			<div class="meter">
				<span style="width: 80%"></span>
			</div>
		</div>

		
		<div class="skill_container">
			<h3>C & C++</h3>
			<h4 style="font-family:'Nunito Sans',sans-serif; font-weight: 400; float: right; margin:0rem; padding: 0rem;">
				Intermediate
			</h4>
			<div class="meter">
				<span style="width: 65%"></span>
			</div>
		</div>
			
		<div class="skill_container">
			<h3>Java, Go</h3>
			<h4 style="font-family:'Nunito Sans',sans-serif; font-weight: 400; float: right; margin:0rem; padding: 0rem;">
				Intermediate
			</h4>
			<div class="meter">
				<span style="width: 65%"></span>
			</div>
		</div>
			
		<div class="skill_container">
			<h3>Angular</h3>
			<h4 style="font-family:'Nunito Sans',sans-serif; font-weight: 400; float: right; margin:0rem; padding: 0rem;">
				Intermediate
			</h4>
			<div class="meter">
				<span style="width: 55%"></span>
			</div>
		</div>

		<div class="skill_container">
			<h3>Javascript & NodeJS</h3>
			<h4 style="font-family:'Nunito Sans',sans-serif; font-weight: 400; float: right; margin:0rem; padding: 0rem;">
				Beginner
			</h4>
			<div class="meter">
				<span style="width: 45%"></span>
			</div>
		</div>

		<div class="skill_container">
			<h3>Android App Development</h3>
			<h4 style="font-family:'Nunito Sans',sans-serif; font-weight: 400; float: right; margin:0rem; padding: 0rem;">
				Beginner
			</h4>
			<div class="meter">
				<span style="width: 35%"></span>
			</div>
		</div>
		
		<div class="skill_container">
			<h3>SQL and NoSQL Databases</h3>
			<h4 style="font-family:'Nunito Sans',sans-serif; font-weight: 400; float: right; margin:0rem; padding: 0rem;">
				Beginner
			</h4>
			<div class="meter">
				<span style="width: 32%"></span>
			</div>
		</div>
		<br>
		
		<h1>I am also familiar with</h1>
		<p style="font-family: 'Nunito Sans', sans-serif; font-weight: 400;">
			Git, Linux, Vim, Bash, Scrum, Tools by JetBrains, Digital Ocean, Heroku, MongoDB etc.
		</p>
	</div>



</div>