<div class="blog_container">

	<div class="system_container">
		<h1>My System</h1>
		<h3 class="quote">"Chase Passion, not Paychecks"</h3>
		<h3 class="quote">"Only I can change my life"</h3>
		<h3 class="quote">"With the new day comes new strength and new thoughts."</h3>
	</div>

	<div class="blog_link_container">
		<div class="blog_link_container__bg"></div>
		<h1>My Blog</h1>

		<p class="quote">"There is no greater agony than bearing an untold story inside you."<br>  ― Maya Angelou</p>
		<br>
		<p class="blog_intro">I mostly write about Tech, Programming, Open Source and other stuff that excites me. <br> Come have a look on how I see this world :-)</p>

		<a href="#">Visit My Blog</a>
		<br><br>
	</div>
</div>