<div id="my_blog" class="blog_container">
    <div class="blog_intro_container">
        <h1>My Blog</h1>

        <p class="quote">"There is no greater agony than bearing an untold story inside you."<br>  ― Maya Angelou</p>
        <br>
        <p class="blog_intro">I mostly write about Tech, Programming, Open Source and other stuff that excites me. <br> Come have a look on how I see this world :-)</p>

        <a href="https://medium.com/@junaidrahim" target="_blank">Visit My Medium</a>
        <br><br>
    </div>

    <div class="recent_posts_container">
        <div class="recent_posts_container__bg"></div>
        <br><br>
        <h1>Recent Posts</h1>
        <br>
        <div id="recent_posts_container_id" class="posts_container">
            

        </div>
    </div>
</div>
