@font-face {
    font-family: "NunitoSans-Bold";
    src: url("../../assets/NunitoSans-Bold.ttf");
}

@font-face {
    font-family: "NunitoSans-Black";
    src: url("../../assets/NunitoSans-Black.ttf");
}

@font-face {
    font-family: "NunitoSans-Light";
    src: url("../../assets/NunitoSans-Light.ttf");  
}
    
@font-face {
    font-family: "Caveat";
    src: url("../../assets/Caveat-Regular.ttf");
}

.blog_container {
    margin: 0rem;
    padding: 0rem;
}

.blog_container .system_container {
    background: white;
    height: 28rem;
    width: 100%;
}

.blog_container .system_container h1 {
    position: relative;
    margin: 0rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 1rem;
    font-size: 5rem;
    font-family: "NunitoSans-Bold", sans-serif;
    z-index: 2;
}

.blog_container .system_container h3.quote {
    position: relative;
    text-align: center;
    font-size: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: "NunitoSans-Light", sans-serif;
    z-index: 2;
}


/*############# BLOG #################*/

.blog_container .blog_link_container {
    position: relative;
    background: #f5f5f5;	
    height: 34rem;
    width: 100%;
}

.blog_container .blog_link_container h1 {
    position: relative;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 0rem;
    margin-right: 4.5rem;
    padding: 0rem;
    font-size: 4.7rem;
    font-family: "NunitoSans-Bold", sans-serif;
    z-index: 2;
}

.blog_container .blog_link_container p.quote {
    position: relative;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-bottom: 0px;
    margin-right: 3rem;
    padding: 0rem;
    font-size: 2.3rem;
    font-family: "Caveat", cursive;
    z-index: 2;
}

.blog_container .blog_link_container p.blog_intro {
    position: relative;
    margin-top: 0.6rem;
    margin-left: 5rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    padding: 0rem;
    font-size: 2.6rem;
    font-family: "Caveat", cursive;
    z-index: 2;
}

.blog_container .blog_link_container .blog_link_container__bg {
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: 0rem;
    left: 0rem;
    width: 100%;
    height: auto;
    background-color: #b3e5fc;
    transform: skewY(-15deg);
    transform-origin: top left;
    z-index: 1;
}

.blog_container .blog_link_container a {
    position: relative;
    border-radius: 0.6rem;
    font-family: "NunitoSans-Bold", sans-serif;
    background-color: #ff1744;
    border: none;
    color: #FFFFFF;
    margin: 2rem;
    margin-left: 5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.3rem;
    width: 10rem;
    transition: 0.6s;
    z-index: 2;
}

.blog_container .blog_link_container a:hover {
    background-color: #d50000; 
}


/*   MOBILE    */

@media screen and (max-width: 800px) {
    .blog_container .blog_link_container {	
        height: 42rem;
    }   
    .blog_container .system_container {
        height: 520px;
    }
}


@media screen and (max-width: 600px) {

    .blog_container .blog_link_container {	
        height: 51rem;
    }

    .blog_container .blog_link_container h1 {
        margin-left: 2.4rem;
        font-family: "NunitoSans-Black", sans-serif;
        font-size: 3.3rem;
        padding-top: 2rem;
    }

    .blog_container .blog_link_container p.quote {
        margin-top: 1.5rem;
        margin-left: 2.4rem;
        font-size: 2.1rem;
    }

    .blog_container .blog_link_container p.blog_intro {
        margin-top: 1.5rem;
        margin-left: 2.4rem;
        font-size: 2.1rem;
    }

    .blog_container .blog_link_container .blog_link_container__bg {
        transform: skewY(-20deg);
    }

    .blog_container .blog_link_container a {
        text-align: center;
        margin-left: 2.4rem;
    }

    .blog_container .system_container {
        height: 32rem;
    }

    .blog_container .system_container h1 {
        font-size: 3rem;
        font-family: "NunitoSans-Black", sans-serif;
    }

    .blog_container .system_container h3.quote {
        font-size: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}
