.resume_container {
    margin: 0px;
    padding: 3rem;
    text-align: center;
    background-color: #f5f5f5;
}

.resume_container a {
    text-decoration: none;
}

.button {
    border-radius: 0.6rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    background-color: #0288d1;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    padding: 1.5rem;
    width: 14rem;
    transition: all 0.5s;
    margin: 0.5rem;
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/* MOBILE*/

@media screen and (max-width: 600px) {

    .button {
        font-size: 1.3rem;
    }

}