@font-face {
    font-family: "NunitoSans-Bold";
    src: url("../../assets/NunitoSans-Bold.ttf");
}

.resume_container {
	margin: 0px;
	padding: 50px;
	text-align: center;
	background-color: #e1f5fe;
}

.resume_container a {
	text-decoration: none;
}

.button {
  border-radius: 8px;
  font-family: "NunitoSans-Bold", sans-serif;
  background-color: #0288d1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  margin: 5px;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/* MOBILE*/

@media screen and (max-width: 600px) {

	.button {
		font-size: 21px;
	}

}