<div class="projects_container">
    <h1 class="is-large">My Projects</h1>
    <h3>Check out some of my recent work. Almost all of it is on Github.</h3>

    <div class="cards_container">
        <div class="card">           
            <h2 class="title">Program Homework Solver</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">A simple command line application written in <b>C++</b> that accepts a series of integers as input and generates source code in five different
                    programming languages that output the series till any index.
                </span>
                <br>
           </div>

            <div class="link_container">
                <a href="https://www.github.com/junaidrahim/program-homework-solver" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
        </div>
        
        <div class="card">
            <h2 class="title">Download Gator</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">A Web App to Start a file download remotely on the server. Server is written in <b>Python3</b> using <b>Flask</b> hosted using ngrok and connecting it to a Telegram Bot can notify about server activities</span>
           </div>

            <div class="link_container">
                <a href="https://www.github.com/junaidrahim/downloadgator" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
        </div>  
        
        
        <div class="card">
            <h2 class="title" style="font-size: 3rem;">Tic Tac Toe</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">I know this is silly. But I was bored, wrote the classic tic tac toe game in all the languages I know, or to be specific, in <b>C, C++, Python3, Java and Go</b> </span>
           </div>

            <div class="link_container">
                <a href="https://www.github.com/junaidrahim/tictactoe" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
            <br>
        </div>
        
    </div>

    <br><br>
</div>
