<div id="projects" class="projects_container">
    <h1 class="is-large">My Projects</h1>
    <h3>Check out some of my recent work. Almost all of it is on Github.</h3>

    <div class="cards_container">
        <div class="card">           
            <h2 class="title">Program Homework Solver</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">A simple command line application written in <b>C++</b> that accepts a series of integers as input and generates source code in five different
                    programming languages that output the series till any index.
                </span>
                <br>
           </div>

            <div class="link_container">
                <a href="https://www.github.com/junaidrahim/program-homework-solver" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
        </div>
        
        
        <div class="card">
            <h2 class="title">KBC-webapp</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">
                    I should have come up with a better name, anyway, 
                    It's a simple Server + Android App system which can be used to conduct a quiz game. I built this because my society wanted to conduct a small quiz event for the children on the eve of Children's Day.
                </span>
           </div>

            <div class="link_container">
                <a href="https://github.com/junaidrahim/KBC-webapp" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
            <br>
        </div>
        
        
        
        <div class="card">
            <h2 class="title">Download Gator</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">A Web App to Start a file download remotely on the server. Server is written in <b>Python3</b> using <b>Flask</b> hosted using ngrok and connecting it to a Telegram Bot can notify about server activities</span>
           </div>

            <div class="link_container">
                <a href="https://www.github.com/junaidrahim/downloadgator" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
        </div>  
        
        
        
    </div>

    <br><br>
</div>
