@font-face {
    font-family: "NunitoSans-Bold";
    src: url("../../assets/NunitoSans-Bold.ttf");
}

@font-face {
    font-family: "NunitoSans-Black";
    src: url("../../assets/NunitoSans-Black.ttf");
}

@font-face {
    font-family: "NunitoSans-Light";
    src: url("../../assets/NunitoSans-Light.ttf");
}

