.projects_container {
    margin: 0rem;
    padding: 0rem;
    height: auto;
    background: #0cebeb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.projects_container h1 {
    margin: 0rem;
    padding: 0rem;
    margin-left: 3rem;
    padding-top: 2rem;
    color: black;
    font-size: 4rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
}

.projects_container h3 {
    margin: 0rem;
    padding: 0rem;
    margin-left: 3rem;
    margin-right: 1rem;
    color: black;
    font-size: 1.5rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

.projects_container .cards_container {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.projects_container .cards_container .card {
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.03), 0 5px 22px -8px rgba(0,0,0,.1);
}

.projects_container .cards_container .card .title{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    margin: 0rem;
    margin-top: 0.5rem;
    padding: 0rem;
}

.projects_container .cards_container .card .caption {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}



.projects_container .cards_container .card .link_container {
    text-align: center;
    padding-top: 2.6rem;
    padding-bottom: 1rem;
}


.projects_container .cards_container .card a {
    padding: 0.6rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    border-radius: 0.3rem;
    background-color: #ef5350;
    text-decoration: none;
    width: 5rem;
    transition: 0.5s
}


.projects_container .cards_container .card a:hover {
    background-color: #b71c1c;
}


/* MOBILE */

@media screen and (max-width: 800px) {

    .projects_container .cards_container {
        grid-template-columns: repeat(2, 1fr);
    }   

}


@media screen and (max-width: 600px) {
    .projects_container .cards_container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0.7rem;
    }   

    .projects_container h1 {
        margin-left: 0rem;
        text-align: center;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 900;
        font-size: 3.5rem;
    }

    .projects_container h3 {
        margin: 0.7rem;
        text-align: center;
    }

    .projects_container .cards_container .card .title {
        font-size: 2.5rem;
    }

}













