<div class="projects_container">
    <h1 class="is-large">My Projects</h1>
    <h3>Check out some of my recent work. Almost all of it is on Github.</h3>

    <div class="cards_container">
        <div class="card">           
            <h2 class="title">Program Homework Solver</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">A simple command line application written in <b>C++</b> that helps you <b>generate source the code to produce a given series of integers.</b></span>
           </div>

            <div class="link_container">
                <a href="https://www.github.com/junaidrahim/program-homework-solver" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
        </div>
        
        <div class="card">
            <h2 class="title">Download Gator</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">A Web App to Start a file download remotely on the server. Server is hosted using ngrok and connecting it to a Telegram Bot can notify about server activities</span>
           </div>

            <div class="link_container">
                <a href="https://www.github.com/junaidrahim/downloadgator" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
        </div>  
        
        
        <div class="card">
            <h2 class="title" style="font-size: 3rem;">Tic Tac Toe</h2> <br>
            <div style="padding-left: 1.3rem">            
                <span class="caption">I know this is silly. But I was bored, wrote the classic tic tac toe game in all the languages I could possibly write.</span>
           </div>

            <div class="link_container">
                <a href="https://www.github.com/junaidrahim/tictactoe" target="_blank">
                    <i class="fab fa-github"></i>      Have a look !
                </a>
            </div>
        </div>
        
        <div class="card">C</div>
        <div class="card">C</div>
        <div class="card">C</div>
    </div>

    <br><br>
</div>
