
<div id="about_me" class="about-me_container">
  <div class="intro">
    <h1>Hey,<br class="breaker"> I am <span>Junaid</span>.</h1>
    <h2>CSE Freshman at KIIT, Bhubaneshwar</h2><br>
    <p>I am currently a freshman at KIIT, Bhubaneshwar studying Computer Science Engineering.
      Computers and Technology have fascinated me since I was a little kid. I started programming when I was 13
      and eventually became extremely curious and passionate about computing.<br><br>
      You can have a look at some of my work on my github. I write regularly about programming, open source and my experience as a university student on my blog.
      <br>
      I read a lot. I love to learn new things and build something cool. <br><br>
      And yeah, if you want some cool insights on the code I have written, visit <a target="_blank" href="https://sourcerer.io/junaidrahim">sourcerer.io/junaidrahim</a>
      <br><br>
      Have something to say ? Want to work with me on some exciting project ?
      Use the chat widget at the bottom of the screen. I promise I'll reply soon :-)
    </p>    
    <br><br>
    <a class="link resume" target="_blank" href="https://drive.google.com/open?id=16gUlcznM3CaQwBJYHDS9i0TQQ3I2xctq" style="margin-left: 0rem; background-color: #2196fc"><i class="far fa-file"></i> My Resume</a>
    <a class="link blog" target="_blank" href="https://medium.com/@junaidrahim" style="background-color: #ff6d00;"><i class="fas fa-cube"></i> My Blog</a>
    <span class="breaker"><br><br><br></span>
    <a class="link github" target="_blank" href="https://github.com/junaidrahim" style="background-color: #dd2c00;"><i class="fab fa-github"></i> My Github</a>
    
    <br><br><br>
  </div>  

  <div class="pic">
    
  </div>
</div>