.about-me_container {
    margin: 0rem;
    padding: 1rem;
    background-color: #263238;
    height: 26rem;
}

.about-me_container h1 {
    font-family: "Nunito-Sans", sans-serif;
    font-weight: 700;
    margin: 0rem;
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 3rem;
    color: white;
}